@page "/"

<PageTitle>Fashion Store</PageTitle>

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to Fashion Store!</h1>
    <p class="lead">Discover the best collections of clothing and accessories.</p>

</div>
